@keyframes leftWalk{
	0% {
		-webkit-transform: translateX(0%);
		transform: translate(0%);
	}
	5% {
		-webkit-transform: translateX(1%);
		transform: translate(1%);
	}
	25% {
		-webkit-transform: translateX(1.5%);
		transform: translate(1.5%);
	}
	50% {
		-webkit-transform: translateX(0%);
		transform: translate(0%);
	}
	55% {
		-webkit-transform: translateX(-1%);
		transform: translate(-1%);
	}
	75% {
		-webkit-transform: translateX(-1.5%);
		transform: translate(-1.5%);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes rightWalk{
	0% {
		-webkit-transform: translateX(0%);
		transform: translate(0%);
	}
	
	5% {
		-webkit-transform: translateX(-1%);
		transform: translate(-1%);
	}
	25% {
		-webkit-transform: translateX(-1.5%);
		transform: translate(-1.5%);
	}
	50% {
		-webkit-transform: translateX(0%);
		transform: translate(0%);
	}
	55% {
		-webkit-transform: translateX(1%);
		transform: translate(1%);
	}
	75% {
		-webkit-transform: translateX(1.5%);
		transform: translate(1.5%);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes scrollText{
	0% {
		-webkit-transform: translate(0%);
		transform: translate(0%);
	}
	6%{
		-webkit-transform: translate(6%);
		transform: translate(6%);
	}
	12%{
		-webkit-transform: translate(12%);
		transform: translate(12%);
	}
	18%{
		-webkit-transform: translate(18%);
		transform: translate(18%);
	}
	25% {
		-webkit-transform: translate(25%);
		transform: translate(25%);
	}
	31%{
		-webkit-transform: tranlate(31%);
		transform: tranlate(31%);
	}
	37%{
		-webkit-transform: translate(37%);
		transform: translate(37%);
	}
	43%{
		-webkit-transform: translate(43%);
		transform: translate(43%);
	}
	50% {
		-webkit-transform: translate(50%);
		transform: translate(50%);
	}
	56%{
		-webkit-transform: translate(56%);
		transform: translate(56%);
	}
	62%{
		-webkit-transform: translate(62%);
		transform: translate(62%);
	}
	68%{
		-webkit-transform: translate(68%);
		transform: translate(68%);
	}
	75% {
		-webkit-transform: translate(75%);
		transform: translate(75%);
	}
	82%{
		-webkit-transform: transate(82%);
		transform: transate(82%);
	}
	87%{
		-webkit-transform: translate(87%);
		transform: translate(87%);
	}
	93%{
		-webkit-transform: translate(93%);
		transform: translate(93%);
	}
	100% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
}

@keyframes bugRWalk{
	0%{
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		
	}
	50%{
		-webkit-transform:  translate(0.25%, -1%);
		transform: translate(0.25%, -1%);
	}
	100%{
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@keyframes bugLWalk{
	0%{
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	50%{
		-webkit-transform: translate(-0.25%, -1%);
		transform: translate(-0.25%, -1%);
	}
	100%{
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

.lFootWalking{
	animation-name: leftWalk;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.rFootWalking{
	animation-name: rightWalk;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.noShow{
	display: none;
}

.scrollingText{
	animation-name: scrollText;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.bugRFoot{
	animation-name: bugRWalk;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.bugLFoot{
	animation-name: bugLWalk;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-delay: 0.25s;
}

svg{
	margin: auto;
	display: block;
	border: 3px solid black;
	box-shadow: 10px 10px 5px grey;
}

